* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f7f7;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar .logo {
    font-weight: 700;
    font-size: 22px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: #222;
}

/* HERO */
header {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white;
    padding: 80px 60px;
}

.hero {
    max-width: 700px;
}

.hero h2 {
    font-size: 24px;
}

.hero h1 {
    font-size: 48px;
    margin: 10px 0;
}

.hero span {
    color: #ffbb00;
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    background: #ffbb00;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn2 {
    margin-left: 10px;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}

/* SECTIONS */
section {
    padding: 60px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
}

/* A PROPOS */
.about p {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 25px;
    width: 180px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card span {
    font-size: 32px;
    color: #8e2de2;
    font-weight: bold;
}

/* SERVICES */
.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.service-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* RÉALISATIONS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.project-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* COMPÉTENCES */
.skill {
    margin-bottom: 20px;
}

.bar {
    width: 100%;
    background: #ddd;
    height: 10px;
    border-radius: 10px;
}

.bar span {
    height: 10px;
    background: #8e2de2;
    display: block;
    border-radius: 10px;
}

/* CONTACT */
.contact-details {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    border: none;
    cursor: pointer;
}
